<!DOCTYPE html>
<html>

<!--js, css folder remove-->
<head>
  <title>
    <%= title %>
  </title>
  <% include ../common/head %>
</head>

<body>
  <% include ../common/nav %>
  <div>
    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-10 align-self-end">
            <h2 class="text-uppercase text-rdtblue font-weight-bold">We are Working On it.</h2>
          </div>
        </div>
      </div>
    </header>
    <form action="/users/login" method="POST" enctype="application/x-www-form-urlencoded">
      <input type="text" name="username" required="required"/>
      <input type="text" name="password" required="required"/>
      <button type="submit">Login</button>
    </form>
  </div>
  <!-- Contact Section -->
  <% include ../common/contact %>

  <!-- Footer -->
  <% include ../common/footer %>
</body>

</html>
