<!DOCTYPE html>
<html>

<head>
  <title> RDT
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <form action="/login" method="POST" enctype="application/x-www-form-urlencoded">
      <input type="text" name="username" required="required"/>
      <input type="text" name="password" required="required"/>
      <button type="submit">Login</button>
    </form>
    <!-- <a href="javascript:runProgram()">Run program</a> -->
    <a href="/game/ava">Avabranch</a>
    <a href="/game/wiggle">Wiggle</a>
    <a href="/game/1942">1942</a>
    <a href="/game/RacerJS">Racer</a>
  </div>
</body>
<script>
var exec = require('child_process');
var cmd_Avabranch = "PORT=40007 node public/game/Wiggle/dist-server/main.js";

function start_wiggle() {
  exec(cmd_Avabranch, function (error, stdout, stderr) {
    console.log('stdout:', stdout);
    console.log('stderr:', stderr);
    if (error !== null) {
     console.log('exec error:', error);
    }
  })
}
// hn for next version
// console.log(window.location.pathname);
// function runProgram() {
//   var shell = new ActiveXObject("test5.exe");
//   var file = "\\"C:\\pika.exe" ";
//   shell.Run(file)
// }
</script>

</html>
