<section class="page-section-contact bg-rdtblue text-white" id="contact">
  <div class="container text-center">
    <h1 class="mt-0">Let's Get In Touch!</h1>
    <p class="text-muted mb-5">RealDesignTech Co., Ltd. want to connect with a Global Network & Work with R&D Companies</p>
    <!-- align need to be fixed... HN -->
    <div class="row">
      <div class="col-lg-4 col-md-4 text-center">
        <div class="ml-0 mt-0 mb-4">
          <a href="mailto:info@rdtone.com" class="d-block">
            <img class="img-contact" src="/img/1_Home/06_Section6-Contact/email_xxxhdpi.png">
            <p class="contact-inline text-muted">info@rdtone.com</p>
          </a>
        </div>
      </div>
      <!--insta facebook target blank-->
      <div class="col-lg-4 col-md-4 text-center">
        <div class="ml-0 mr-4 mt-0 mb-4">
          <a href=" https://www.facebook.com/REALDESIGNTECH/" class="d-block" target="_blank">
          <img class="img-contact" src="/img/1_Home/06_Section6-Contact/facebook_xxxhdpi.png">
          <p class="contact-inline text-muted">facebook Page</p>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 text-center">
        <div class="ml-2 mt-0 mb-4">
          <a href="https://www.instagram.com/realdesigntech_global/" class="d-block" target="_blank">
            <img class="img-contact" src="/img/1_Home/06_Section6-Contact/instagram_xxxhdpi.png">
            <p class="contact-inline">official instagram</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
