<style>
  .ul-footer {
    color: #fff;
    font-weight: 700;
    font-size: .9rem;
    padding: .75rem 0;
    list-style: none;
  }
</style>

<footer class="page-section-footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-left">
        <h2 class="mt-0 mb-5">RealDesignTech</h2>
        <br />
        <div class="row">
          <div class="col-lg-2 ml-auto text-left mb-5 mb-lg-0">
            <ul class="ul-footer">
              <li>ULTIRACER<li>
              <li>2-Axis Virable<li>
              <li>2-Axis Standard<li>
              <li>3-Axis Standard<li>
            </ul>
          </div>
          <div class="col-lg-2 mr-auto text-left">
            <ul class="ul-footer">
              <li>About RDT<li>
            </ul>
          </div>
          <div class="col-lg-2 mr-auto text-left">
            <ul class="ul-footer">
              <li>Team & Partners<li>
            </ul>
          </div>
          <div class="col-lg-2 mr-auto text-left">
            <ul class="ul-footer">
              <li>Gallery<li>
            </ul>
          </div>
          <div class="col-lg-2 mr-auto text-left">
            <ul class="ul-footer">
              <li>Games<li>
            </ul>
          </div>
          <div class="col-lg-2 mr-auto text-center">
            <ul class="ul-footer">
              <li>Contact<li>
              <li>info@rdtone.com<li>
              <li>facebook page<li>
              <li>official instagram<li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="small text-left text-white">Copyright &copy; 2019. RealDesignTech Co.. Ltd. All rights reserved</div>
  </div>
</footer>
