<style>
  .ul-footer {
    font-weight: 700;
    font-size: .9rem;
    padding: .75rem 0;
    list-style: none;
  }
</style>

<footer class="page-section-footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h2 class="mt-0">REALDESIGNTECH</h2>
        <hr class="divider my-1">
        <br />
        <div class="row">
          <div class="col-lg-2 ml-auto text-center mb-5 mb-lg-0">
            <ul class="ul-footer">
              <li>About<li>
              <li>Our Story<li>
              <li>Team<li>
              <li>Careers<li>
              <li>Press<li>
              <li>Partners<li>
              <li>Client<li>
            </ul>
          </div>
          <div class="col-lg-2 mr-auto text-center">
            <ul class="ul-footer">
              <li>Visit<li>
              <li>facebook<li>
              <li>youtube??<li>
              <li>Instagram<li>
            </ul>
          </div>
          <div class="col-lg-2 mr-auto text-center">
            <ul class="ul-footer">
              <li>Technology<li>
            </ul>
          </div>
          <div class="col-lg-2 mr-auto text-center">
            <ul class="ul-footer">
              <li>Product<li>
            </ul>
          </div>
          <div class="col-lg-2 mr-auto text-center">
            <ul class="ul-footer">
              <li>Game<li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="small text-center text-muted">Copyright &copy; 2019 - Realdesigntech</div>
  </div>
</footer>
