<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container">
    <!-- logo -->
    <a class="navbar-brand js-scroll-trigger" href="/"><img src="/img/logo/02_GNB-Header_Logo.png"></img></a>

    <!-- navbar position need to be changed -->

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <!--to services section id = #services-->
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/users">ULTIRACER</a>
          <!--need to fix ul class create-->
          <ul>
            <li><a class="nav-link">Our Story</li>
            <li><a class="nav-link">Team</li>
            <li><a class="nav-link">Careers</li>
            <li><a class="nav-link">Press</li>
            <li><a class="nav-link">Partners</li>
            <li><a class="nav-link">Clients</li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">About RDT</a>
          <ul>
            <li><a class="nav-link" href="https://www.facebook.com/REALDESIGNTECH/" target="_blank">Facebook</li>
            <li><a class="nav-link">Youtube??</li>
            <li><a class="nav-link" href="https://www.instagram.com/realdesigntech_global/
  " target="_blank">Instagram</li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/reg">Team & Partners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="btn-example" href="#layer2">Game</a>
          <div class="dim-layer">
            <div class="dimBg"></div>
            <div id="layer2" class="pop-layer">
              <div class="pop-container">
                <div class="pop-conts">
                  <!--content //-->
                  <div class="btn-r">
                    <a href="/game">Trial</a>
                  </div>
                  <!--// content-->
                </div>
                <div class="pop-conts">
                  <!--content //-->
                </div>
                <div class="btn-r">
                  <a href="/users/reg">Reg & Login</a>
                </div>
                <!--// content-->
              </div>
            </div>
          </div>
    </div>
  </div>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/js/creative.min.js"></script>
</nav>
