<section id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.youtube.com/watch?v=neBCa1qQmYk">
          <img class="img-fluid" src="/img/1_Home/05_Section5-Video_List/002_Video Cover.png" alt="">
          <div class="portfolio-box-caption">
            <div class="project-name">
              ASSEMBLY GUIDE
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.youtube.com/watch?v=xG0Xky4vmAw">
          <img class="img-fluid" src="/img/1_Home/05_Section5-Video_List/003_Video Cover.png" alt="">
          <div class="portfolio-box-caption">
            <div class="project-name">
              Introduction Guide #1
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.youtube.com/watch?v=jAEdoDP3NEc">
          <img class="img-fluid" src="/img/1_Home/05_Section5-Video_List/004_Video Cover.png" alt="">
          <div class="portfolio-box-caption">
            <div class="project-name">
              Introduction Guide #2
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.youtube.com/watch?v=lfNW3sqU4I4">
          <img class="img-fluid" src="/img/1_Home/05_Section5-Video_List/005_Video Cover.png" alt="">
          <div class="portfolio-box-caption">
            <div class="project-name">
              EUROBIKE 2019
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.youtube.com/watch?v=6iZIBeKeolQ">
          <img class="img-fluid" src="../img/1_Home/05_Section5-Video_List/006_Video Cover.png" alt="">
          <div class="portfolio-box-caption">
            <div class="project-name">
              After EUROBIKE 2019
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.youtube.com/watch?v=YAJHIxzS3Xc">
          <img class="img-fluid" src="/img/1_Home/05_Section5-Video_List/007_Video Cover.png" alt="">
          <div class="portfolio-box-caption">
            <div class="project-name">
              RealDesignTech IR Part #1
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.youtube.com/watch?v=t8kwGNGPUBs">
          <img class="img-fluid" src="/img/1_Home/05_Section5-Video_List/008_Video Cover.png" alt="">
          <div class="portfolio-box-caption">
            <div class="project-name">
              RealDesignTech IR Part #2
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.youtube.com/watch?v=2PIGEdY-fTw">
          <img class="img-fluid" src="/img/1_Home/05_Section5-Video_List/009_Video Cover.png" alt="">
          <div class="portfolio-box-caption">
            <div class="project-name">
              RealDesignTech IR Part #3
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://www.youtube.com/watch?v=zdCE0I3KaQo">
          <img class="img-fluid" src="/img/1_Home/05_Section5-Video_List/010_Video Cover.png" alt="">
          <div class="portfolio-box-caption">
            <div class="project-name">
              RealDesignTech IR Part #4
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
