<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../common/head %>
</head>

<body id="page-top">

  <!-- Navigation -->
  <% include ../common/nav %>
  <!-- Masthead -->
  <header class="masthead about_rdtbg">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-left text-left">
        <div class="col-lg-10 align-self-end">
          <h2 class="text-white ml-2 mb-0">About</h2>
          <h1 class="text-white mt-0">RealDesignTech</h1>
          <!-- font-weight-bold -->
        </div>
        <div class="col-lg-10 align-self-baseline">
          <p class="text-muted mb-0">Healthcare & E-Sport Startup</p>
          <p class="text-muted mb-0">based on both hardware & Software</p>
        </div>
      </div>
    </div>
  </header>

  <section class="page-section-rdt-70 bg-indoor-cycling" id="indoor">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-auto"></div>
        <div class="col-lg-6 col-md-auto mb-5 text-left">
          <div class="mt-5">
            <h1 class="text-rdtblue mt-5 mb-4px">Indoor Cycling</h1>
            <p class="mb-3 text-gray">Indoor Cycling using Roller and Treadmill is becoming active due to Envrionment Pollution, Traffic Congestion, Safety Accidents and Rehabilitation.</p>
            <p class="mb-3 text-gray">Recently, the front-wheel or front & rear wheel rotating type Devices that use roller, has been introduced.</p>
            <p class="mb-3 text-gray">But for users, the Device cannot provide full experience of Various Road Surface Conditions, ultimately does not have a complete function as cycling device.</p>
            <p class="mb-3 text-gray">Roller commonly used, is available for exercise with front wheels fixed, which means that it has a Game-Elements but it cocame difficult to experience a realistic cycling</p>
            <p class="mb-3 text-gray">Therefore, we found the needs to develop a new type of roller that can put on the users's own cycle and both front and rear wheels live.</p>
            <p class="mb-0 text-gray">So it can experience the topography and road surface condition of the cycling course.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <% include ../common/contact %>

  <section class="page-section-rdt-70 bg-startup" id="startup">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-auto mb-4px text-right">
          <div class="mt-5">
            <h1 class="text-rdtblue mt-5 mb-4">Tech based Startup</h1>
            <p class="mb-0 text-gray">What are the reasons behind such splendid</p>
            <p class="mb-3 text-gray">technological development so far?</p>
            <p class="mb-0 text-gray">RealDesignTech is a startup but its history of R&D work by its</p>
            <p class="mb-3 text-gray">R&D teammates totals more than 110 years.</p>
            <p class="mb-0 text-gray">Four major R&D personnel who have more than</p>
            <p class="mb-0 text-gray">100 years of experience in total &</p>
            <p class="mb-0 text-gray">briliant hardware and software experts</p>
            <p class="mb-3 text-gray">who compose up to 90% of the total employees are the secret.</p>
            <p class="mb-0 text-gray">RDT's experience in participating in</p>
            <p class="mb-0 text-gray">more than 100 patent applications demonstates</p>
            <p class="mb-0 text-gray">how strong RDT's technological</p>
            <p class="mb-3 text-gray">capabilities are.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-auto"></div>
      </div>
    </div>
  </section>

  <section class="page-section-rdt-70 bg-made-in-SK" id="madeinSK">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-auto"></div>
        <div class="col-lg-6 col-md-auto text-left mb-5">
          <div class="mt-5">
            <h1 class="text-rdtblue mt-5 mb-4">Made in The South Korea</h1>
            <p class="mb-0 text-gray">One of the Strengths of RealDesignTech is that</p>
            <p class="mb-3 text-gray">all products are assembled in Korea.</p>
            <p class="mb-0 text-gray">We currently have a production plant in Korea</p>
            <p class="mb-3 text-gray">and Plan to establish mass production bases in many overseas countries.</p>
            <p class="mb-0 text-gray">But we plan to Inspect, Assemble and Export</p>
            <p class="mb-0 text-gray">all the Core Parts and Technologies directly in Korea.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer>
    <% include ../common/footer %>
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <!-- important -->
  <script src="/js/creative.min.js"></script>

</body>

</html>
