<!DOCTYPE html>
<html lang="en">

<head>
  <!-- hn need to fix -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= title %></title>

  <!-- Font Awesome Icons -->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Theme CSS - Includes Bootstrap -->
  <link href="../css/creative.min.css" rel="stylesheet">

  <!--instagram, facebook icon-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<body id="page-top">
  <!-- hn need to fix -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">REALDESIGNTECH</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <!--to services section id = #services-->
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/users">About</a>
            <!--need to fix ul class create-->
            <ul>
              <li><a class="nav-link">Our Story</li>
              <li><a class="nav-link">Team</li>
              <li><a class="nav-link">Careers</li>
              <li><a class="nav-link">Press</li>
              <li><a class="nav-link">Partners</li>
              <li><a class="nav-link">Clients</li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Visit</a>
            <ul>
              <li><a class="nav-link" href="https://www.facebook.com/REALDESIGNTECH/" target="_blank">Facebook</li>
              <li><a class="nav-link">Youtube??</li>
              <li><a class="nav-link" href="https://www.instagram.com/realdesigntech_global/
    " target="_blank">Instagram</li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/reg">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/login">Technology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/game">Game</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Masthead -->
  <header class="masthead">
  <!-- need to fix -->
    <a href="#layer2" class="btn-example">딤처리 팝업레이어 1</a>
  <!-- need to fix-->
    <div class="dim-layer">
      <div class="dimBg"></div>
      <div id="layer2" class="pop-layer">
        <div class="pop-container">
          <div class="pop-conts">
            <!--content //-->
            <div>
              <form action="/users/reg" method="POST" enctype="application/x-www-form-urlencoded">
                <input type="text" name="username" required="required" />
                <input type="text" name="password" required="required" />
                <button type="submit">Register</button>
              </form>
            </div>

            <div class="btn-r">
              <a href="#" class="btn-layerClose">Close</a>
            </div>
            <!--// content-->
          </div>
        </div>
      </div>
    </div>

    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">WE DESIGN YOUR LIFE WITH REAL CYCLING</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">-REALDESIGNTECH-</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">users</a>
        </div>
      </div>
    </div>
  </header>

  <!-- Footer -->
  <% include ../common/footer %>

</body>
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="../js/creative.min.js"></script>

</html>
